.rowGrid {
  height: 5px; /* 设置行高为50像素，你可以根据需要调整这个值 */
  overflow: hidden;
}

/* table */
.ant-table {
  font-size: 9px;
}

/* row data */
.ant-table-tbody > tr > td {
  height: 5px;
  padding: 0;
}
/* row tags */
.my-tag {
  font-size: 12px;
}
.ant-table-thead > tr > th {
  height: 5px;
  padding: 4px;
}

.highlight-row {
  background-color: yellow; /* 设置背景颜色为黄色，你可以根据需要调整这个值 */
}

.cell {
  margin: 0;
  padding: 0;
  background-color: yellow;
}

.highlight-row {
  background-color: red;
  color: white;
}

.appointmentsBox {
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0;
}

.fillCell {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.fillCellTitle {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background-image: url(../components/img/R.jpg);
}

.disabled-row {
  pointer-events: none;
  background-color: #696868; /* 或者其他你想要的禁用行的样式 */
}
