.registerBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, rgb(239, 250, 250),rgb(255, 255, 255), rgb(238, 248, 248));
  background-size: cover;
}

/* This css for gradient color is for this website: https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Images/Using_CSS_gradients */
.rChangeColor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 670px;
  height: 480px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 600% 600%;
  animation: rChangeColorBG 5s ease infinite;
  border-radius: 35px
}

/* 动画，控制背景 background-position */
@keyframes rChangeColorBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}