.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 在小屏幕上（例如手机屏幕）调整样式 */
@media (max-width: 600px) {
  .background {
    flex-direction: column; /* 垂直方向居中 */
  }
}

.hover-text {
  color: rgb(0, 200, 255); /* 初始文字颜色 */
  white-space: nowrap;
  transition: color 0.3s ease; /* 添加颜色过渡效果 */
}

.hover-text:hover {
  color: rgb(76, 0, 255); /* 鼠标悬停时的文字颜色 */
}





