.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 在小屏幕上（例如手机屏幕）调整样式 */
@media (max-width: 600px) {
  .background {
    flex-direction: column; /* 垂直方向居中 */
  }
}





